{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="fw-bold text-primary">🎓 Smart Quiz Platform</h1>
        <p class="text-muted fs-5">
            Select your exam and start practicing.
        </p>
    </div>

    <div class="row">

        <!-- UPSC -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100 text-center">

                <div class="card-body">

                    <h2>📘 UPSC</h2>

                    <p class="text-muted">
                        Civil Services Examination
                    </p>

                    <hr>

                    <p><strong>📚 Subjects:</strong> 4</p>
                    <p><strong>📝 Questions:</strong> 40</p>

                    <a href="/subjects/UPSC" class="btn btn-primary w-100">
                        Start Learning
                    </a>

                </div>

            </div>
        </div>

        <!-- SSC -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100 text-center">

                <div class="card-body">

                    <h2>🏛 SSC</h2>

                    <p class="text-muted">
                        Government Exam Preparation
                    </p>

                    <hr>

                    <p><strong>📚 Subjects:</strong> 4</p>
                    <p><strong>📝 Questions:</strong> 40</p>

                    <a href="/subjects/SSC" class="btn btn-success w-100">
                        Start Learning
                    </a>

                </div>

            </div>
        </div>

        <!-- JEE -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100 text-center">

                <div class="card-body">

                    <h2>⚛️ JEE</h2>

                    <p class="text-muted">
                        Engineering Entrance Examination
                    </p>

                    <hr>

                    <p><strong>📚 Subjects:</strong> 3</p>
                    <p><strong>📝 Questions:</strong> 30</p>

                    <a href="/subjects/JEE" class="btn btn-danger w-100">
                        Start Learning
                    </a>

                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}